.odd-even-container{
    max-width: 20rem;

}

.clickCount{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.button {
    display: inline-block;
    padding: 0.4rem;
    font-size: 1rem;
    min-width: 8rem;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
